.bg_footer {
    background-color: #a20000;
    padding: 40px;
  }
  .footer-item h4 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
  }
  .footer-list li {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    line-height: 30px;
  }
  .footer-list li a {
    text-decoration: none;
}
a{
    color: #fff;
}
  .footer-list li :hover {
    color: rgb(207, 191, 191);
  }
  .footer-list   {
    width: 300px;
    font-size: 15px;
    font-size: 600;
    color: #fff;
    line-height: 30px;
  }
  .footer-list .social_icons {
    display: flex;
  }
  .copyright_footer {
    background-color: rgb(156, 156, 194);
    width: 100%;
    padding: 20px;
  }
  .footer-logo-heading h3 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  }
  /* Add this CSS to your stylesheet */

.social_icons {
    display: flex;
    gap: 10px;
}

.icon {
    font-size: 1.5em;
    transition: transform 0.2s;
    border-radius: 50%;
    overflow: hidden;
}

.icon:hover {
    transform: translateY(-5px); /* Adjust the value based on your preference for the upward movement */
}
